.navbar {
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-brand {
  color: lightblue;
}

.navbar-collapse {
  justify-content: space-between;
}

.fa-plus-square {
  font-size: 25px;
  color: lime
} 