.user_container {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 20px;
}

.user_image_div {
  background: lightblue;
   width: 130px;
   height: 130px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.5s ease 0s;  
}
.user_image {
  width: 110px; 
  height: 110px; 
  border-radius: 50%;   
}